**CSC 365 - Fall 2022 - Lab 1-2**

In [1]:
import pandas as pd
import numpy as np

**Name:** ______________________________________

**Cal Poly Email:**_____________________________

This Jupyter notebook loads a simple two CSV files. One (`world_population.csv`) contains information about the population estimates for each country in the world. The other one (`corruption_data.csv`) reports a metric called "corruption index" (a value in the 0 to 100 range, reflecting the perception of prevalence of corruption in the country - the higher the value, the **less** corrupt the country is) for several years for most (but not all) countries in the world.

The notebook contains 10 questions of the data. Some questions may require looking at only one of the two data files, but there may be questions below that would have you combine the data from both files in order to answer them.

As with Lab 1-1 notebook, each table is provided to you in three different formats (`pandas` data frame, `numPy` 2D array, Python nested list structure). In addition, the list of columns for each table is also available as a separate variable for you to use in your computations.

In [2]:
## loading the world population data

filenameWorld = "world_population.csv"

worldDf = pd.read_csv(filenameWorld)   ## pandas data frame for world population data

worldData = np.array(worldDf)          ## numPy array with the  world population data

worldDl = [list(x) for x in worldData]  ## List of lists with the world population data

worldColumns = list(worldDf.columns)   ## list of column names - in the order of columns in both the Pandas data frame and the NumPy array

In [7]:
## loading the corruption index  data

filenameCorruption = "corruption_data.csv"

corrDf = pd.read_csv(filenameCorruption)   ## pandas data frame for corruption index data

corrDf['country'] = [x.strip() for x in corrDf["region_name"]]


corrData = np.array(corrDf)              ## numPy array with the  corruption index data

corrDl = [list(x) for x in corrData]     ## List of lists with the corruption index data

corrColumns = list(corrDf.columns)      ## list of column names - in the order of columns in both the Pandas data frame and the NumPy array

The data is provided to you in three forms:

1. `pandas` data frame.  `pandas` is a Python package for dealing with tabular data that includes a lot of functionality that is similar to that of relational database which we will be studying in this course.  A data frame is a Python data structure for storing two-dimentional tabular data.  If you know how to work with `pandas` data frames - feel free to use `pandas` functionality.

2. `numPy` array. `numPy` is a Python package primarily used for dealing with multi-dimensional arrays of data. A CSV file can be stored as a two-dimensional `numPy` array in a natural way, and a 2-dimensional `numPy` array is essentially a Python list or Python lists. `numPy` provides a lot of functionality for working with arrays.

3. Python's list of lists. This is the most basic Python structure that does not rely on functionality from any specific Python package. Each row of the CSV file is one element of the list. The element itself is a list containing values of individual cells in the row.

Here is what the `pandas` data frames looks like:

In [4]:
worldDf

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [8]:
corrDf

,region_name,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,country
0,Denmark,88,88,87,88,88,90,91,92,91,90,Denmark
1,New Zealand,88,88,87,87,89,90,91,91,91,90,New Zealand
2,Finland,88,85,86,85,85,89,90,89,89,90,Finland
3,Singapore,85,85,85,85,84,84,85,84,86,87,Singapore
4,Sweden,85,85,85,85,84,88,89,87,89,88,Sweden
...,...,...,...,...,...,...,...,...,...,...,...,...
175,Yemen,16,15,15,14,16,14,18,19,18,23,Yemen
176,Venezuela,14,15,16,18,18,17,17,19,20,19,Venezuela
177,Somalia,13,12,9,10,9,10,8,8,8,8,Somalia
178,Syria,13,14,13,13,14,13,18,20,17,26,Syria
179,South Sudan,11,12,12,13,12,11,15,15,14,13,South Sudan

Here are the `numPy` arrays:

In [14]:
worldData

array([[36, 'AFG', 'Afghanistan', ..., 63.0587, 1.0257, 0.52],
       [138, 'ALB', 'Albania', ..., 98.8702, 0.9957, 0.04],
       [34, 'DZA', 'Algeria', ..., 18.8531, 1.0164, 0.56],
       ...,
       [46, 'YEM', 'Yemen', ..., 63.8232, 1.0217, 0.42],
       [63, 'ZMB', 'Zambia', ..., 26.5976, 1.028, 0.25],
       [74, 'ZWE', 'Zimbabwe', ..., 41.7665, 1.0204, 0.2]], dtype=object)

In [15]:
corrData

array([[' Denmark', 88, 88, ..., 92, 91, 90],
       [' New Zealand', 88, 88, ..., 91, 91, 90],
       [' Finland', 88, 85, ..., 89, 89, 90],
       ...,
       [' Somalia', 13, 12, ..., 8, 8, 8],
       [' Syria', 13, 14, ..., 20, 17, 26],
       [' South Sudan', 11, 12, ..., 15, 14, 13]], dtype=object)

And here are the Python lists (we are displaying only the first four rows here):

In [16]:
worldDl[0:4]

[[36,
  'AFG',
  'Afghanistan',
  'Kabul',
  'Asia',
  41128771,
  38972230,
  33753499,
  28189672,
  19542982,
  10694796,
  12486631,
  10752971,
  652230,
  63.0587,
  1.0257,
  0.52],
 [138,
  'ALB',
  'Albania',
  'Tirana',
  'Europe',
  2842321,
  2866849,
  2882481,
  2913399,
  3182021,
  3295066,
  2941651,
  2324731,
  28748,
  98.8702,
  0.9957,
  0.04],
 [34,
  'DZA',
  'Algeria',
  'Algiers',
  'Africa',
  44903225,
  43451666,
  39543154,
  35856344,
  30774621,
  25518074,
  18739378,
  13795915,
  2381741,
  18.8531,
  1.0164,
  0.56],
 [213,
  'ASM',
  'American Samoa',
  'Pago Pago',
  'Oceania',
  44273,
  46189,
  51368,
  54849,
  58230,
  47818,
  32886,
  27075,
  199,
  222.4774,
  0.9831,
  0.0]]

In [17]:
corrDl[0:4]

[[' Denmark', 88, 88, 87, 88, 88, 90, 91, 92, 91, 90],
 [' New Zealand', 88, 88, 87, 87, 89, 90, 91, 91, 91, 90],
 [' Finland', 88, 85, 86, 85, 85, 89, 90, 89, 89, 90],
 [' Singapore', 85, 85, 85, 85, 84, 84, 85, 84, 86, 87]]

Additionally, here are the column lists for the world population CSV file and the corruption index CSV file. Please note that the column names are pretty self-explanatory.

In [19]:
worldColumns

['Rank',
 'CCA3',
 'Country',
 'Capital',
 'Continent',
 '2022 Population',
 '2020 Population',
 '2015 Population',
 '2010 Population',
 '2000 Population',
 '1990 Population',
 '1980 Population',
 '1970 Population',
 'Area (km²)',
 'Density (per km²)',
 'Growth Rate',
 'World Population Percentage']

In [20]:
corrColumns

['region_name',
 '2021',
 '2020',
 '2019',
 '2018',
 '2017',
 '2016',
 '2015',
 '2014',
 '2013',
 '2012']

The world population information is taken from the following Kaggle dataset: https://www.kaggle.com/datasets/iamsouravbanerjee/world-population-dataset

The world corruption index information is taken from another Kaggle dataset: https://www.kaggle.com/datasets/tr1gg3rtrash/global-corruption-index

To answer the questions below you can use any of the data representations (data frame, array, list) provided to you.  Your output should be presented in a readable form that makes it clear what you are reporting (if you are working with lists, please engage in come pretty printing. data frames can be presented as-is. for arrays - look at what the output looks like, and if it is messy, pretty print as well).

**NOTE:** All questions MUST be answered **in isolation**. That is, you cannot reuse any variables computed when answering one question to answer another question. Instead - **you can reuse the code** (basically, I should be able to copy a full cell answering a question into an empty notebook and have it produce correct result).

**Question 1:** Find how much the population of a country whose capital is the city of _Bujumbura_ changed between 2000 and 2020. Report the name of the country and the absolute value of the population change.

In [32]:
### Your code goes here

**Question 2:**  Report the change in the corruption index of Poland between the years of 2012 and 2021.

In [ ]:
### Your code goes here

**Question 3:**  Find the average population density for a country in each continent (your output shall contain one row per continent, with the continent name and the average population density for a country in that continent reported). Use  `Density (per km²)` column.

In [34]:
### Your code goes here

**Question 4** Let us break all countries into "good" (corruption index of 70 or higher), "average" (corruption index between 45 and 69), and "bad" (corruption index below 45).  Report the number of countries with "good", "avera" and "bad" corruption indexes in 2020. Your output shall consist of three rows - one per type of country ("good", "average", "bad")

In [35]:
### Your code goes here

**Question 5:** Find the most corrupt country (or countries - there may be ties) of Asia in 2020.

In [36]:
### Your code goes here

**Question 6:**  Find the European country (or countries - there may be ties) that showed the highest imrpovement of their corruption index between 2012 and 2020. Report the names of the countries (in alphabetical order if more than one country matches this information request), and the 2012 and 2020 corruption indexes.

In [37]:
### Your code goes here

**Question 7:**  List all countries in South America which had a population increase between 2015 and 2020 sorted in descending order by their 2020 corruption index. For each country report the absolute population increase between 2015 and 2020 and the 2020 corruption index. Report only countries for which corruption index exists.

In [ ]:
### Your code goes here

**Question 8:**  Find all countries in Africa for which there is no corruption index data. Report their names in alphabetical order.

In [38]:
### Your code goes here

**Question 9:** Report the 2020 population of the most corrupt country for that year on each continent (include all ties). Report the continent, the name of the country, the 2020 corruption index, and the 2020 population. Sort output in alphabetical order by continent, and within continent - in descending order by the country's 2020 population (if there are ties).

In [39]:
### Your code goes here

**Question 10:** Find the largest (by area) country with a "good" (70 or above) corruption index **for each** of the years reported in the corruption index data file. Report the name of the country, its average corruption index over all years, and its area.

In [40]:
### Your code goes here

**Congratulations!**

You are done!

To submit your work, open the terminal window in your Jupyter Labs environment, navigate to the directory where this notebook resides in, and type the following command:

                   $ handin dekhtyar 365-lab01-2 <filename>
                   
where < filename > is the name under which you stored this notebook.